version: "3.8"

services:
  server:
    # image: 'nginx:stable-alpine'
    build:
      context: . # it sets the relative path from where docker file will exist
      # if we set dockerfiles dir in context, the dockerfile will not get access to src and nginx
      # directories while building the new image
      dockerfile: dockerfiles/php.dockerfile
    ports:
      - '8000:80' # host 8000 bind to internal 80
    volumes:
      - ./src:/var/www/html
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php

  php:
    build:
      context: .
      dockerfile: dockerfiles/php.dockerfile
    volumes:
      # NOTE: delegated improves performance by batching and writing data to host instead of writing in real time
      - ./src:/var/www/html:delegated
    stdin_open: true   # -i
    tty: true          # -t
    depends_on:
      - mysql

  mysql:
    image: mysql:latest
    env_file:
      - ./env/mysql.env

  # # utility containers
  composer:
    build:
      context: ./dockerfiles
      dockerfile: composer.dockerfile
    volumes:
      - ./src:/var/www/html

  artisan:
    build:
      context: .
      dockerfile: dockerfiles/php.dockerfile
    volumes:
      - ./src:/var/www/html
    entrypoint: ["php", "/var/www/html/artisan"]

  npm:
    image: node:14
    working_dir: /var/www/html
    entrypoint: ["npm"]
    volumes:
      - ./src:/var/www/html
