version: "3.8"

services:
  server:
    image: 'nginx:stable-alpine'
    ports:
      - '8000:80' # host 300 bind to internal 80
    volumes:
      - ./src:/var/www/html
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php

  php:
    build:
      context: ./dockerfiles
      dockerfile: php.dockerfile
    volumes:
      # NOTE: delegated imrpoves performance by batching and writing data to host instead of writing in real time
      - ./src:/var/www/html:delegated
    stdin_open: true   # -i
    tty: true          # -t
    depends_on:
      - mysql

  mysql:
    image: mysql:latest
    env_file:
      - ./env/mysql.env

  # # utility containers
  composer:
    build:
      context: ./dockerfiles
      dockerfile: composer.dockerfile
    volumes:
      - ./src:/var/www/html

  # npm:
  # artisan:
